.screening-text-area-control {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    margin: 1em !important;
}

.screening-text-area {
    flex: 1;
    height: 75px;
    resize: none;
}

