.dashboard-layout-container {
    display: grid;
    column-gap: 1em;
    row-gap: 1.5em;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100%;
    grid-template-areas: 
        "top-left top-right" 
        "center center" 
        "bottom bottom"
    ;
    grid-template-columns: 48% 48%;
    grid-template-rows: 25% 40% 35%;
}

.sheebay-users-card, .sheebay-support-tickets-card, .sheebay-guest-support-tickets-card {
    overflow: auto !important;
}

.sheebay-website-visit-count-card {
    grid-area: top-left;
}

.sheebay-total-sales-to-visits-card {
    grid-area: top-right;
}

.sheebay-users-card {
    grid-area: center;
}

.sheebay-support-tickets-card {
    grid-area: bottom;
}

/* .sheebay-guest-support-tickets-card {
    grid-area: bottom-right;
} */

