.login-text-field {
    width: 95%;
}

.login-next-button {
    height: 80%;
    width: 95%;
    position: relative;
    left: 2.5%;
}

.login-header {
    text-align: center;
    font-size: 20pt;
    flex: 4;
    margin-right: 1.5em;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-text {
    font-size: 10pt;
}

.login-modal-close-btn, .login-modal-back-btn {
    flex: 1;
    position: inherit;
    height: 40px;
    left: 10px;
    top: 0.75em;
}