/* Common Register Components */
.register-text-field {
    width: 95%;
}

.register-next-button {
    height: 80%;
    width: 95%;
    position: relative;
    left: 2.5%;
    align-items: stretch;
}

.login-header {
    text-align: center;
    font-size: 20pt;
    flex: 4;
    margin-right: 1.5em;
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.register-text {
    font-size: 10pt;
}

/* Specific Register Components */
.register-two-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 5px;
    width: 95%;
}

.register-modal-close-btn, .register-modal-back-btn {
    flex: 1;
    position: inherit;
    height: 40px;
    left: 10px;
    top: 0.75em;
}
