.seller-plan-card {
    flex-grow: 1;
    padding: 10px 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    height: 100%;
}

.seller-plan-card:hover {
    cursor: pointer;
}

.selected-seller-plan {
    border: 2px solid #1876D2 !important;
}

.seller-plan-option-heading {
    font-weight: 700;
    font-size: 14pt;
    width: 100%;
    text-align: center;
    flex-shrink: 2;
}

.seller-plan-option-price-wrapper {
    flex-grow: 1;
    margin-bottom: 1em;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
}

/* The price, including the $ and /, but not the "per something" part */
.seller-plan-option-price {
    font-weight: 500;
    font-size: 36pt;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 2px;
    flex-grow: 2;
}

/* The "per something" part of the price text */
.seller-plan-option-price-per {
    font-weight: 600;
    font-size: 12pt;
    flex-grow: 1;
    margin-bottom: 1px;
    position: relative;
    top: 2.5em;
}

.seller-plan-option-details-list {
    flex-grow: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
    margin-top: 0;
    gap: 1em;
}