/* Regular Item Card Styles */
.item-card-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    width: 65%;
    height: fit-content;
    margin-bottom: 10px;
}

.item-text-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 5px;
}

.item-image {
    width: 150px;
    height: 150px;
}

.item-price {
    font-weight: 550;
}

.item-low-quantity-messsage {
    font-weight: 650;
    color: orangered;
    font-style: italic;
}

.select-item-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* Small Item Card Styles */
.small-item-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.small-item-text-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left: 5px;
    width: 100%;
}

.small-item-image {
    width: 75px;
    height: 75px;

}

.small-item-title {
    font-weight: 300;
    text-overflow: ellipsis;
}

.small-item-price {
    font-weight: 600;
    font-size: 12pt;
}

.small-item-quantity {
    font-size: 10pt;
}

.small-item-delete-btn {
    height: 50px;
    width: 50px;
    position: relative;
    top: 0.5em;
}